@using System.Security.Principal
@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options


@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
     
            <li class="navbar-text">Hello @User.Identity.Name!</li>
        
        <li><a asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Signin"><img src="~/images/teamsnap-badge.svg" width="20" height="20" style="display: inline-block; margin-right:5px" />Sign in</a></li>
    </ul>
}
