@page
@model DP.TwinRinksHelper.Web.Pages.CreateEventsModel
@{
    ViewData["Title"] = "Events Created in TeamSnap";
}
<div class="panel panel-success" style="margin-top:10px">
    <div class="panel-heading">
        <h3 class="panel-title">Success</h3>
    </div>
    <div class="panel-body">
       @Model.Result.CountCreated events were created in TeamSnap team @Model.Result.TeamName.
    </div>
</div>