@page
@model DP.TwinRinksHelper.Web.Pages.ScheduleSyncSpec.CreateExclusion
@{
    ViewData["Title"] = "Exclusions";
}
<div class="panel panel-default" style="margin-top:10px">
    <div class="panel-heading">Exclusions</div>
    <div class="panel-body">
        <h4>@Model.Message</h4>
    </div>
</div>
